import /init.common.rc

on post-fs-data
    setprop fpga.target.enable 1
    setprop debug.delaytime.min 10
    setprop debug.delaytime.mid 100
    setprop debug.delaytime.max 1000
    setprop debug.android_watchdog.disable 1

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512
    chmod 666    /dev/qmax981
    chmod 666    /dev/gh3x2x
    chmod 666    /dev/och1970
    chmod 666    /dev/hall
    chmod 666    /dev/bd1662rate

#add for sunwave fingerprint
    chmod 660 /dev/sunwave_fp
    chown system system /dev/sunwave_fp

# add for fingerprint app function
    mkdir /data/sprd 0770 system system
    mkdir /data/sprd/launchappdata 0770 system system
    mkdir /data/sprd/applock 0770 system system

    insmod /lib/modules/sprdbt_tty.ko
    insmod /lib/modules/sprd_fm.ko

on init
    chown system  input /sys/class/xr-gsensor/device/gsensor
    chmod 660 /sys/class/xr-gsensor/device/gsensor
    chown system  input /sys/class/xr-gsensor/device/delay_acc
    chmod 660 /sys/class/xr-gsensor/device/delay_acc

    chown system  /sys/class/hrdrv/hrs3300/enable
    chmod 0777 /sys/class/hrdrv/hrs3300/enable  
    
    chown system  /sys/class/hrdrv/hrs3300rate
    chmod 0777 /sys/class/hrdrv/hrs3300rate

    chown system  /sys/class/hrdrv/hrs3300/up   
    chmod 0777 /sys/class/hrdrv/hrs3300/up  

    chown system  /sys/class/hrdrv/hrs3300/down 
    chmod 0777 /sys/class/hrdrv/hrs3300/down    


    chown system  /sys/class/hrdrv/hrs3300/spo2h    
    chmod 0777 /sys/class/hrdrv/hrs3300/spo2h    

on boot

# block I/O vm.dirty parameters
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/vm/dirty_bytes  52428800

